#JWT 
JWT_SECRET='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30'

#2FA AUTH
TOTP_SECRET_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30' #has to be 32 char for AES-256 

#oauth2 github
GITHUB_CLIENT_ID='test'
GITHUB_CLIENT_SECRET='test'

#cmd pour recup l'ip echo $(hostname -I | awk '{print $1}')
IP=""

#grafana config

GF_SECURITY_ADMIN_USER = 'admin'
GF_SECURITY_ADMIN_PASSWORD = 'admin'
GF_USERS_DEFAULT_THEME = 'dark'
DISCORD_WEBHOOK_URL=""

#l'emplacement du poste peut aussi servir d'IP il faut l'autoriser dans les CORS
#cmd  hostname pour l'avoir exemple de format : f2r4s7; 
POSTE=""